'scopeName': 'source.intuicio4'
'fileTypes': [
	'i4s'
]
'firstLineMatch': '^#!.*\\bi4s\\b'
'name': 'Intuicio 4 Assembly'
'patterns': [
	{
		# template
		'begin': '(\\btemplate\\b)\\s*(\\<)'
		'end': '\\>'
		'beginCaptures':
			'1':
				'name': 'keyword.control.template.intuicio4'
			'2':
				'name': 'keyword.operator.intuicio4'
		'endCaptures':
			'0':
				'name': 'keyword.operator.intuicio4'
		'patterns': [
			{
				'match': '\\b[A-Za-z_][A-Za-z_0-9]*\\b'
				'name': 'storage.type.intuicio4'
			}
			{
				'match': '\\,'
				'name': 'keyword.operator.intuicio4'
			}
		]
	}
	{
		# implement routine
		'begin': '(\\bimplement\\b)\\s+(@\\b[A-Za-z_][A-Za-z_0-9]*\\b)\\s*(\\<)'
		'end': '(\\>)\\s*(\\bas\\b)\\s+(@\\b[A-Za-z_][A-Za-z_0-9]*\\b)'
		'beginCaptures':
			'1':
				'name': 'keyword.control.implement.intuicio4'
			'2':
				'name': 'entity.name.function.intuicio4'
			'3':
				'name': 'keyword.operator.intuicio4'
		'endCaptures':
			'1':
				'name': 'keyword.operator.intuicio4'
			'2':
				'name': 'keyword.control.as.intuicio4'
			'3':
				'name': 'entity.name.function.intuicio4'
		'patterns': [
			{
				'match': '\\b[A-Za-z_][A-Za-z_0-9]*\\b'
				'name': 'storage.type.intuicio4'
			}
			{
				'match': '\\,'
				'name': 'keyword.operator.intuicio4'
			}
		]
	}
	{
		# implement struct
		'begin': '(\\bimplement\\b)\\s+(\\b[A-Za-z_][A-Za-z_0-9]*\\b)\\s*(\\<)'
		'end': '(\\>)\\s*(\\bas\\b)\\s+(\\b[A-Za-z_][A-Za-z_0-9]*\\b)'
		'beginCaptures':
			'1':
				'name': 'keyword.control.implement.intuicio4'
			'2':
				'name': 'storage.type.intuicio4'
			'3':
				'name': 'keyword.operator.intuicio4'
		'endCaptures':
			'1':
				'name': 'keyword.operator.intuicio4'
			'2':
				'name': 'keyword.control.as.intuicio4'
			'3':
				'name': 'storage.type.intuicio4'
		'patterns': [
			{
				'match': '\\b[A-Za-z_][A-Za-z_0-9]*\\b'
				'name': 'storage.type.intuicio4'
			}
			{
				'match': '\\,'
				'name': 'keyword.operator.intuicio4'
			}
		]
	}
	{
		# type
		'match': ':\\s*(\\*)*\\s*(\\b[A-Za-z_][A-Za-z_0-9]*\\b)\\s*((\\[)\\s*(\\b-?[0-9.]+\\b)\\s*(\\])?)?'
		'captures':
			'1':
				'name': 'keyword.operator.intuicio4'
			'2':
				'name': 'storage.type.intuicio4'
			'4':
				'name': 'keyword.operator.intuicio4'
			'5':
				'name': 'constant.numeric.intuicio4'
			'6':
				'name': 'keyword.operator.intuicio4'
	}
	{
		# field
		'match': '(\\b[A-Za-z_][A-Za-z_0-9]*\\b)\s*(:)\s*((\\s*\\**)?\\s*(\\b[A-Za-z_][A-Za-z_0-9]*\\b)\\s*((\\[)\\s*(\\b-?[0-9.]+\\b)\\s*(\\])?)?)'
		'captures':
			'1':
				'name': 'variable.parameter.intuicio4'
			'4':
				'name': 'keyword.operator.intuicio4'
			'5':
				'name': 'storage.type.intuicio4'
			'7':
				'name': 'keyword.operator.intuicio4'
			'8':
				'name': 'constant.numeric.intuicio4'
			'10':
				'name': 'keyword.operator.intuicio4'
	}
	{
		# value pointer: identifier
		'match': '((\\$\\b[A-Za-z_][A-Za-z_0-9]*\\b)|(\\bnull\\b))'
		'captures':
			'2':
				'name': 'variable.parameter.intuicio4'
			'3':
				'name': 'support.type.intuicio4'
	}
	{
		# value pointer: hex constant
		'match': '(0x[0-9a-fA-F]+)\\s*:\\s*((\\s*\\**)?\\s*(\\b[A-Za-z_][A-Za-z_0-9]*\\b)\\s*((\\[)\\s*(\\b-?[0-9.]+\\b)\\s*(\\])?)?)'
		'captures':
			'1':
				'name': 'constant.numeric.intuicio4'
			'3':
				'name': 'keyword.operator.intuicio4'
			'4':
				'name': 'storage.type.intuicio4'
			'6':
				'name': 'keyword.operator.intuicio4'
			'7':
				'name': 'constant.numeric.intuicio4'
			'8':
				'name': 'keyword.operator.intuicio4'
	}
	{
		# value pointer: number constant
		'match': '(\\b-?[0-9.]+\\b)\\s*:\\s*((\\s*\\**)?\\s*(\\b[A-Za-z_][A-Za-z_0-9]*\\b)\\s*((\\[)\\s*(\\b-?[0-9.]+\\b)\\s*(\\])?)?)'
		'captures':
			'1':
				'name': 'constant.numeric.intuicio4'
			'3':
				'name': 'keyword.operator.intuicio4'
			'4':
				'name': 'storage.type.intuicio4'
			'6':
				'name': 'keyword.operator.intuicio4'
			'7':
				'name': 'constant.numeric.intuicio4'
			'8':
				'name': 'keyword.operator.intuicio4'
	}
	{
		# value pointer: string constant
		'match': '(".*?(?=")")\\s*:\\s*((\\s*\\**)?\\s*(\\b[A-Za-z_][A-Za-z_0-9]*\\b)\\s*((\\[)\\s*(\\b-?[0-9.]+\\b)\\s*(\\])?)?)'
		'captures':
			'1':
				'name': 'string.quoted.double.intuicio4'
			'3':
				'name': 'keyword.operator.intuicio4'
			'4':
				'name': 'storage.type.intuicio4'
			'6':
				'name': 'keyword.operator.intuicio4'
			'7':
				'name': 'constant.numeric.intuicio4'
			'8':
				'name': 'keyword.operator.intuicio4'
	}
	{
		# value pointer: sizeof constant
		'match': '(\\{)\\s*((\\s*\\**)?\\s*(\\b[A-Za-z_][A-Za-z_0-9]*\\b)\\s*((\\[)\\s*(\\b-?[0-9.]+\\b)\\s*(\\])?)?)\\s*(\\})'
		'captures':
			'1':
				'name': 'keyword.operator.intuicio4'
			'3':
				'name': 'keyword.operator.intuicio4'
			'4':
				'name': 'storage.type.intuicio4'
			'6':
				'name': 'keyword.operator.intuicio4'
			'7':
				'name': 'constant.numeric.intuicio4'
			'8':
				'name': 'keyword.operator.intuicio4'
			'9':
				'name': 'keyword.operator.intuicio4'
	}
	{
		# (import) from file or native module
		'match': '(from)\\s+((\\?|".*?(?=")")|((\\[)\\s*(\\b[A-Za-z_][A-Za-z_0-9]*\\b)\\s*(:)\\s*(\\b[A-Za-z_][A-Za-z_0-9]*\\b)\\s*(\\])))'
		'captures':
			'1':
				'name': 'keyword.control.from.intuicio4'
			'3':
				'name': 'string.quoted.double.intuicio4'
			'5':
				'name': 'keyword.operator.intuicio4'
			'6':
				'name': 'storage.type.intuicio4'
			'7':
				'name': 'keyword.operator.intuicio4'
			'8':
				'name': 'entity.name.function.intuicio4'
			'9':
				'name': 'keyword.operator.intuicio4'
	}
	{
		# shebang
		'match': '#!.*\\n'
		'name': 'comment.line.double-slash.intuicio4'
	}
	{
		# line comment
		'match': '//.*\\n'
		'name': 'comment.line.double-slash.intuicio4'
	}
	{
		# block comment
		'begin': '/\\*'
		'end': '\\*/'
		'name': 'comment.block.intuicio4'
	}
	{
		# routine identifier
		'match': '@\\b[A-Za-z_][A-Za-z_0-9]*\\b'
		'name': 'entity.name.function.intuicio4'
	}
	{
		# (probably) field prefix
		'match': '(\\b[A-Za-z_][A-Za-z_0-9]*\\b)\\s*:'
		'name': 'constant.other.intuicio4'
	}
	{
		# number
		'match': '\\b-?[0-9.]+[kmg]?\\b'
		'name': 'constant.numeric.intuicio4'
	}
	{
		# directive
		'match': '#\\b(intuicio|stack|memory|entry|import|pointersize)\\b'
		'name': 'keyword.control.directive.intuicio4'
	}
	{
		# structure
		'match': '\\b(struct)\\b\\s+(\\b[A-Za-z_][A-Za-z_0-9]*\\b)(\\s+(extends)\\s+(\\b[A-Za-z_][A-Za-z_0-9]*\\b))?'
		'captures':
			'1':
				'name': 'keyword.control.struct.intuicio4'
			'2':
				'name': 'storage.type.intuicio4'
			'4':
				'name': 'keyword.control.extends.intuicio4'
			'5':
				'name': 'storage.type.intuicio4'
	}
	{
		# routine
		'match': '(\\b(export)\\b\\s+)?(\\b(synchronized)\\b\\s+)?\\b(routine)\\b\\s+(\\b[A-Za-z_][A-Za-z_0-9]*\\b)'
		'captures':
			'2':
				'name': 'keyword.control.export.intuicio4'
			'4':
				'name': 'keyword.control.synchronized.intuicio4'
			'5':
				'name': 'keyword.control.routine.intuicio4'
			'6':
				'name': 'entity.name.function.intuicio4'
	}
	{
		# label
		'match': '%\\b[A-Za-z_][A-Za-z_0-9]*\\b'
		'name': 'constant.other.intuicio4'
	}
	{
		# operation
		'match': '\\b(sig|call|async|callh|asynch|join|ret|mov|movb|conv|add|sub|mul|div|and|or|xor|neg|lsh|rsh|eq|ls|gr|push|pop|drop|cpush|cpop|cdrop|ctxc|ctxd|ctxs|jif|goto|jump|address|handler|new|del|ptr|val|cast|nil|vargs|vargr|mtxc|mtxd|lock|unlock)\\b'
		'name': 'keyword.control.operation.intuicio4'
	}
	{
		# operators
		'match': '(\\.\\.\\.|=>|->)'
		'name': 'keyword.operator.intuicio4'
	}
	{
		# atom types
		'match': '\\b(void|i8|i16|i32|i64|u8|u16|u32|u64|f32|f64)\\b'
		'name': 'support.type.intuicio4'
	}
]
